<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/car.css" />
	</head>

	<body>
		<div id="top">
			<div class="margin">
				<a href="" class="shop">你好 欢迎来到 迈克风商城</a>
				<ul>
					<a href="" class="dingdan">我的订单</a>
					<li>待付款订单</li>
					<li>待收货订单</li>
					<li>待评价订单</li>
				</ul>
				<ul>
					<a href="" class="shoucang">我的收藏</a>
					<li>待付款订单</li>
					<li>待收货订单</li>
					<li>待评价订单</li>
				</ul>
				<ul>
					<a href="" class="kehu">客户服务</a>
					<li>待付款订单</li>
					<li>待收货订单</li>
					<li>待评价订单</li>
				</ul>
				<ul>
					<a href="" class="daohang">站点导航</a>
					<li>待付款订单</li>
					<li>待收货订单</li>
					<li>待评价订单</li>
				</ul>
				<ul>
					<a href="" class="xiazai">下载app</a>
					<li>待付款订单</li>
					<li>待收货订单</li>
					<li>待评价订单</li>
				</ul>
				<ul>
					<a href="" class="guanzhu">关注我们</a>
					<li>待收货订单</li>
					<li>待评价订单</li>
				</ul>
			</div>
		</div>
		<div id="flow">
			<div class="margin clear">
				<div class="left">
					<a href="index.html"><img src="imgs/logo.png" /></a>
				</div>
				<ul class="right">
					<li>
						<h3>
							<i></i>
						</h3>
						<p>我的购物车</p>
					</li>
					<li>
						<h3>
							<i></i>
						</h3>
						<p>确认订单</p>
					</li>
					<li>
						<h3>
							<i></i>
						</h3>
						<p>支付提交</p>
					</li>
					<li>
						<h3>
							<i></i>
						</h3>
						<p>订单完成</p>
					</li>
				</ul>
			</div>
		</div>
		<div id="title" class="margin">
			<h3>我的购物车</h3>
			<h5>查看购物车商品清单，增加减少商品数量，并勾选想要的商品进入下一步操作。</h5>
		</div>
		<div id="list" class="margin">
				<ul>
					<li>
						<input type="checkbox"/>
						全选
					</li>
					<li>
						商品
					</li>
					<li>
						单价(元)
					</li>
					<li>
						数量
					</li>
					<li>
						小计(元)
					</li>
					<li>
						操作
					</li>
				</ul>
		</div>
		<div id="goods" class="margin">
				<ul>
					<!--<li>
						<div class="num1">
							<input type="checkbox" name="" id="" value="" />
						</div>
						<div class="num2">
							<img src="../../jq-page/images/1.jpg"/>
						</div>
						<div class="num3">
							<p>VETAS-V10珍藏版全网通(6+128G)蜥蜴皮 黑色 6G+128G 全网通</p>
							<h3>(该商品支持<strong>门店自提</strong>服务)</h3>
							<h5>
								<img src="imgs3/car1.png"/>
								<img src="imgs3/car2.png"/>
								<img src="imgs3/car3.png"/>
								<img src="imgs3/car4.png"/>
							</h5>
						</div>
						<div class="num4">
							<em>$1119</em>
						</div>
						<div class="num5">
							<div class="box">
								<a href="#">+</a>
								<input type="text" value="1"/>
								<a href="#">-</a>
							</div>
						</div>
						<div class="num6">
							<em>$1119</em>
						</div>
						<div class="num7">
							<span>删除</span>
						</div>
					</li>-->
				</ul>
		</div>
		<div id="bottom">
			<div class="margin">
				<ul class="clear">
					<li>
						<h3>官方自营</h3>
						<p>商场全场商品均为自营</p>
					</li>
					<li>
						<h3>正品承诺</h3>
						<p>厂家直供，质量保障</p>
					</li>
					<li>
						<h3>急速物流</h3>
						<p>顺丰速运，次日即可到达</p>
					</li>
					<li>
						<h3>全国联保</h3>
						<p>国税发票，质保无忧</p>
					</li>
					<li>
						<h3>门店保障</h3>
						<p>50家实体门店遍布全国</p>
					</li>
				</ul>
				<div class="list">
					<ul class="left">
						<li>
							<dl>
								<dt><a href="">购物指南</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">商家服务</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">支付及配送</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">售后服务</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">会员服务</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">关于迈克风</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
					</ul>
					<div class="right">
						<p>400-860-5151</p>
						<h3>08:30-18:00</h3>
						<a href="#">迈客风全国门店地址</a>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="margin">
				<h3>
					<a href="">首页</a>
					<span>|</span>
					<a href="">招聘英才</a>
					<span>|</span>
					<a href="">合作及洽谈</a>
					<span>|</span>
					<a href="">联系我们</a>
					<span>|</span>
					<a href="">关于迈客风</a>
				</h3>
				<p>Copyright © 2005-2017 迈客风51MKF.COM 版权所有. 客服电话：400-860-5151</p>
				<div class="last">广东迈客风信息科技有限公司。 粤ICP备18054728号-1</div>
				<div class="imgs">
					<a href=""><img src="imgs/footer1.png"/></a>
					<a href=""><img src="imgs/footer2.png"/></a>
					<a href=""><img src="imgs/footer3.png"/></a>
					<a href=""><img src="imgs/footer4.png"/></a>
				</div>
			</div>
		</div>
	</body>
	<script src="libs/jquery.js"></script>
	<script src="libs/jquery.cookie.js"></script>
	<script src="libs/cookie.js"></script>
	<script src="js2/car.js"></script>
</html>

