<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品列表</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/list.css"/>
	</head>
	<body>
		<div id="header">
			<div class="margin">
				<div class="top">
					<a href="" class="shop">你好 欢迎来到 迈克风商城</a>
					<a href="" class="denglu">登录</a>
					<a href="" class="zhuce">免费注册</a>
					<ul>
						<a href="" class="dingdan">我的订单</a>
						<li>待付款订单</li>
						<li>待收货订单</li>
						<li>待评价订单</li>
					</ul>
					<ul>
						<a href="" class="shoucang">我的收藏</a>
						<li>待付款订单</li>
						<li>待收货订单</li>
						<li>待评价订单</li>
					</ul>
					<ul>
						<a href="" class="kehu">客户服务</a>
						<li>待付款订单</li>
						<li>待收货订单</li>
						<li>待评价订单</li>
					</ul>
					<ul>
						<a href="" class="daohang">站点导航</a>
						<li>待付款订单</li>
						<li>待收货订单</li>
						<li>待评价订单</li>
					</ul>
					<ul>
						<a href="" class="xiazai">下载app</a>
						<li>待付款订单</li>
						<li>待收货订单</li>
						<li>待评价订单</li>
					</ul>
					<ul>
						<a href="" class="guanzhu">关注我们</a>
						<li>待收货订单</li>
						<li>待评价订单</li>
					</ul>
				</div>
				<div class="bottom clear">
					<div class="left">
						<a href=""><img src="imgs/logo.png" class="logo"/></a>
					</div>
					<div class="center">
						<div class="c-t clear">
							<div class="c-t-l">
								<img src="imgs/logo-1.png"/>
							</div>
							<div class="c-t-r clear">
								<input type="text" placeholder="华为nava3" class="txt"/>	<input type="button" value="搜索" class="search"/>
								<ul>
									<li><a href="">电脑</a></li>
									<li><a href="">电风扇</a></li>
									<li><a href="">防晒霜</a></li>
									<li><a href="">面条</a></li>
									<li><a href="">洗衣液</a></li>
									<li><a href="">车载冰箱</a></li>
									<li><a href="">加湿器</a></li>
									<li><a href="">移动电源</a></li>
								</ul>
							</div>
						</div>
						<div class="c-b">
							<ul class="clear">
								<li><a href="">手机精选</a></li>
								<li><a href="">门店查询</a></li>
								<li><a href="">3D体验馆</a></li>
								<li><a href="">好礼相送</a></li>
							</ul>
						</div>
					</div>	
					<div class="right clear">
						<ul>
							<li>
								<img src="imgs/header-3.png"/>
								<span>我的商城</span>
								<img src="imgs/header-2.png"/>
							</li>
						</ul>
						<ul class="te">
							<li>
								<img src="imgs/header-4.png"/>
								<span>购物车结算</span>
								<img src="imgs/header-2.png"/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div id="goods">
			<div class="margin">
				<ul class="clear">
					
				</ul>
			</div>
		</div>
		
		<a id="box" href="car.html">请到购物车页面结算</a>
		
		
		<div id="bottom">
			<div class="margin">
				<ul class="clear">
					<li>
						<h3>官方自营</h3>
						<p>商场全场商品均为自营</p>
					</li>
					<li>
						<h3>正品承诺</h3>
						<p>厂家直供，质量保障</p>
					</li>
					<li>
						<h3>急速物流</h3>
						<p>顺丰速运，次日即可到达</p>
					</li>
					<li>
						<h3>全国联保</h3>
						<p>国税发票，质保无忧</p>
					</li>
					<li>
						<h3>门店保障</h3>
						<p>50家实体门店遍布全国</p>
					</li>
				</ul>
				<div class="list">
					<ul class="left">
						<li>
							<dl>
								<dt><a href="">购物指南</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">商家服务</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">支付及配送</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">售后服务</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">会员服务</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">关于迈克风</a></dt>
								<dd><a href="">如何注册成为会员</a></dd>
								<dd><a href="">如何搜索</a></dd>
								<dd><a href="">忘记密码</a></dd>
								<dd><a href="">购物流程</a></dd>
							</dl>
						</li>
					</ul>
					<div class="right">
						<p>400-860-5151</p>
						<h3>08:30-18:00</h3>
						<a href="#">迈客风全国门店地址</a>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="margin">
				<h3>
					<a href="">首页</a>
					<span>|</span>
					<a href="">招聘英才</a>
					<span>|</span>
					<a href="">合作及洽谈</a>
					<span>|</span>
					<a href="">联系我们</a>
					<span>|</span>
					<a href="">关于迈客风</a>
				</h3>
				<p>Copyright © 2005-2017 迈客风51MKF.COM 版权所有. 客服电话：400-860-5151</p>
				<div class="last">广东迈客风信息科技有限公司。 粤ICP备18054728号-1</div>
				<div class="imgs">
					<a href=""><img src="imgs/footer1.png"/></a>
					<a href=""><img src="imgs/footer2.png"/></a>
					<a href=""><img src="imgs/footer3.png"/></a>
					<a href=""><img src="imgs/footer4.png"/></a>
				</div>
			</div>
		</div>
	</body>
	<script src="libs/jquery.js"></script>
	<script src="libs/cookie.js"></script>
	<script src="js2/list.js"></script>
</html>
