<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录页面</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
	</head>
	<body>
		<div id="header" class="margin">
			<div class="left">
				<a href="#"><img src="imgs/logo.png" class="logo"/></a>
			</div>
			<div class="right">
				<span class="te"><img src="imgs/touxiang.png"/></span>
				<span>您好，欢迎来到迈客风商城</br>已注册的会员请登录，或立即<a href="register.html">注册新会员</a></span>
			</div>
		</div>
		<div id="login-layout">
			<div class="margin">
				<div class="left">
					<img src="imgs3/login.jpg"/>
				</div>
				<div class="right">
					<p>用户登录</p>
					<ul>
						<li>
							<span>用户名:</span>
							<input type="text" id="user" placeholder="可使用已注册的用户名或手机号登录"/>
							<i class="msg1"></i>
						</li>
						<li>
							<span>密&nbsp&nbsp&nbsp码:</span>
							<input type="password" id="pass" placeholder="6-20个大小写英文字母、符号或数字"/>
							<i class="msg2"></i>
						</li>
					</ul>
					<input type="submit" value="登录" class="btn"/><i class="msg3"></i>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="margin">
				<h3>
					<a href="">首页</a>
					<span>|</span>
					<a href="">招聘英才</a>
					<span>|</span>
					<a href="">合作及洽谈</a>
					<span>|</span>
					<a href="">联系我们</a>
					<span>|</span>
					<a href="">关于迈客风</a>
				</h3>
				<p>Copyright © 2005-2017 迈客风51MKF.COM 版权所有. 客服电话：400-860-5151</p>
				<div class="last">广东迈客风信息科技有限公司。 粤ICP备18054728号-1</div>
				<div class="imgs">
					<a href=""><img src="imgs/footer1.png"/></a>
					<a href=""><img src="imgs/footer2.png"/></a>
					<a href=""><img src="imgs/footer3.png"/></a>
					<a href=""><img src="imgs/footer4.png"/></a>
				</div>
			</div>
		</div>
	</body>
	<script src="libs/jquery.js"></script>
	<script src="js2/login.js"></script>
</html>
