<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册页面</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/register.css"/>
	</head>
	<body>
		<div id="header" class="margin">
			<div class="left">
				<a href="#"><img src="imgs/logo.png" class="logo"/></a>
			</div>
			<div class="right">
				<span class="te"><img src="imgs/touxiang.png"/></span>
				<span>您好，欢迎来到迈客风商城<br><a href="#">请注册新会员</a></span>
			</div>
		</div>
		<div id="register">
			<div class="margin">
				<div class="center">
					<p>手机注册</p>
					<ul>
						<li>
							<span>用&nbsp户&nbsp名:&nbsp</span>
							<input type="text" id="user" placeholder="用户名仅支持中文、字母、数字、“-”“_”的组合，4-20个字符"/>
							<i></i>
						</li>
						<li>
							<span>密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码:</span>
							<input type="text" id="pass" placeholder="数字字母特殊字符"/>
							<i></i>
						</li>
						<li>
							<span>重复密码:</span>
							<input type="text" id="pass" placeholder="请再一次输入密码，与上一次相同"/>
							<i></i>
						</li>
						<li>
							<span>注册邮箱:</span>
							<input type="text" id="pass" placeholder="请填写正确的邮箱"/>
							<i></i>
						</li>
						<li>
							<span>手&nbsp机&nbsp号:&nbsp</span>
							<input type="text" id="pass" placeholder="请填写正确的手机号"/>
							<i></i>
						</li>
						<li>
							<span>邮政编码:</span>
							<input type="text" id="pass" placeholder="请填写正确的邮政编码"/>
							<i></i>
						</li>
					</ul>
					<input type="submit" value="注册" class="btn"/>
					<span class="te"></span>
				</div>
				
			</div>
		</div>
		<div id="footer">
			<div class="margin">
				<h3>
					<a href="">首页</a>
					<span>|</span>
					<a href="">招聘英才</a>
					<span>|</span>
					<a href="">合作及洽谈</a>
					<span>|</span>
					<a href="">联系我们</a>
					<span>|</span>
					<a href="">关于迈客风</a>
				</h3>
				<p>Copyright © 2005-2017 迈客风51MKF.COM 版权所有. 客服电话：400-860-5151</p>
				<div class="last">广东迈客风信息科技有限公司。 粤ICP备18054728号-1</div>
				<div class="imgs">
					<a href=""><img src="imgs/footer1.png"/></a>
					<a href=""><img src="imgs/footer2.png"/></a>
					<a href=""><img src="imgs/footer3.png"/></a>
					<a href=""><img src="imgs/footer4.png"/></a>
				</div>
			</div>
		</div>
	</body>
	<script src="libs/jquery.js"></script>
	<script src="js2/register.js"></script>
</html>
