.margin{
	width:1200px;
	margin:0 auto;
}

#header{height:166px;background:#fff;}
#header .top {height:30px;font:10px/30px "";color:#6f7a76;}
#header .top a.zhuce{margin-right:22px;}
#header .top a.shop{margin-right:450px}
#header .top ul{display:inline-block;margin-right:22px;}
#header .top ul li{display:none} 

#header .bottom{}

#header .bottom .left{width:212px;height:136px;float:left}
#header .bottom .left img{width:212px;height:136px;}

#header .bottom .center{width:683px;height:136px;float:left;}
#header .bottom .center .c-t{height:102px;}
#header .bottom .center .c-t .c-t-l{width:163px;height:102px;float:left;}
#header .bottom .center .c-t .c-t-l img{float:left;margin-top:25px;margin-left:25px;}
#header .bottom .center .c-t .c-t-r{width:520px;height:102px;float:left;}
#header .bottom .center .c-t .c-t-r input{margin-top:18px;float:left;}
#header .bottom .center .c-t .c-t-r input.txt{width:426px;height:36px;border:2px solid #f32613;text-indent:12px;color:#a9a7aa;box-sizing: border-box;}
#header .bottom .center .c-t .c-t-r input.search{width:94px;height:36px;border:none;background:#f32613;font:14px/26px "";color:#fff;}
#header .bottom .center .c-t .c-t-r ul{float:left;margin-top:15px;}
#header .bottom .center .c-t .c-t-r ul li{float:left;margin-right:12px;}
#header .bottom .center .c-t .c-t-r ul li a:hover{color:red;}

#header .bottom .center .c-b{height:34px;}
#header .bottom .center .c-b ul{margin-left:24px;}
#header .bottom .center .c-b ul li{float:left;font-size:14px;margin-right:50px;}
#header .bottom .center .c-b ul li a{color:#373334;}
#header .bottom .center .c-b ul li a:hover{color:#f32613;}

#header .bottom .right{width:305px;height:136px;float:right;}
#header .bottom .right ul{float:left;margin-top:18px;background:#fafafa;}
#header .bottom .right ul:nth-child(1){margin-left:60px;margin-right:8px;}
#header .bottom .right ul li{width:110px;height:42px;cursor:pointer;
padding-left:10px;box-sizing: border-box;}
#header .bottom .right ul.te li{width:126px;height:42px;cursor:pointer;
padding-left:10px;box-sizing: border-box;}
#header .bottom .right ul li span{line-height:42px;}


#goods{background:#fff;}
#goods ul{width:100%;}
#goods ul li{width:230px;border:1px solid #e5e5e5;float:left;margin-left:8px;margin-bottom:8px;}
#goods ul li img{width:230px;height:240px;}
#goods ul li p{height:40px;font:18px/40px "";color:red;padding-top:5px;padding-left:12px;}
#goods ul li h3{height:40px;font:12px/20px "";color:#333;padding-left:12px;padding-right:12px;overflow: hidden;}
#goods ul li .add{height:40px;box-sizing: border-box;padding-top:12px;}
#goods ul li .add span{float:left;width:48px;height:16px;text-align:center;font:12px/16px "";color:#fff;
background:red;}
#goods ul li .add input{float:right;width:100px;height:28px;border:none;font:12px/16px "";color:#fff;background:red;cursor:pointer;}

a#box{display:block;width:200px;height:50px;font:18px/50px "";text-align: center;color:#fff;background:red;margin-left:1000px;margin-top:20px;
cursor:pointer;}


#bottom{height:356px;background:#fff;}
#bottom {padding-top:10px;}
#bottom .clear li{float:left;width:240px;height:80px;padding-bottom:15px;border-bottom:1px solid #eee;}
#bottom .clear li:nth-child(1){background:url(../imgs/bottom1.png) no-repeat;background-position:24px center;}
#bottom .clear li:nth-child(2){background:url(../imgs/bottom2.png) no-repeat;background-position:24px center;}
#bottom .clear li:nth-child(3){background:url(../imgs/bottom3.png) no-repeat;background-position:24px center;}
#bottom .clear li:nth-child(4){background:url(../imgs/bottom4.png) no-repeat;background-position:24px center;}
#bottom .clear li:nth-child(5){background:url(../imgs/bottom5.png) no-repeat;background-position:24px center;}
#bottom .clear li h3{height:28px;font:20px/28px "";text-indent:82px;color:#000;margin-top:20px;}
#bottom .clear li p{height:20px;font:12px/20px "";color:#afada0;text-indent:82px;}

#bottom .list{height:250px;}
#bottom .list .left{height:250px;float:left;}
#bottom .list .left li{float:left;width:156px;margin-top:21px;}
#bottom .list .left li dl{}
#bottom .list .left li dl dt{font:16px/62px "";}
#bottom .list .left li dl dt a{color:#333;}
#bottom .list .left li dl dd{font:12px/28px "";}
#bottom .list .left li dl dd a{color:#777;}
#bottom .list .left li dl dd a:hover{color:red;}

#bottom .list .right{float:right;width:263px;}
#bottom .list .right p{height:50px;font:22px/50px "";margin-top:46px;color:#ff6201;text-indent:65px;}
#bottom .list .right h3{font:10px/10px "";color:#72a6e0;text-indent:103px;margin-bottom:24px;}
#bottom .list .right a{display:block;width:162px;height:30px;border:1px solid #ff832f;
text-align:center;font:12px/28px "";;box-sizing: border-box;margin-left:60px;}

#footer{height:186px;background:#f5f5fc;}
#footer h3{font:12px/48px "";padding-top:16px;text-align:center;color:#666769;}
#footer p{font:12px/12px "";padding-bottom:4px;text-align:center;color:#666769;}
#footer .last{font:12px/42px "";color:#666769;text-align:center;}
#footer .imgs{text-align:center;}
#footer .imgs a{display:inline-block;}
#footer .imgs img{margin-left:8px;}